section.comment,
div.comment {
  border: 2px solid #000080;
  padding: 10px;
  background-color: #F0F0FF;
}

.comment div,
.comment p,
.comment ul li,
.comment ol li,
.comment blockquote,
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5 {
  color: #0000A0;
}

section.comment.problem,
div.comment.problem {
  border: 2px solid #800000;
  padding: 10px;
  background-color: #FFF0F0;
}

.comment.problem div,
.comment.problem p,
.comment.problem ul li,
.comment.problem ol li,
.comment.problem blockquote,
.comment.problem h1,
.comment.problem h2,
.comment.problem h3,
.comment.problem h4,
.comment.problem h5 {
  color: #800000;
}


pre.grade-src {
  border: 2px solid rgba(0, 0, 40, 1.0);
  background-color: rgba(245,240,255,0.50);
}

pre.grade-out {
  border: 1px solid rgba(0, 00, 0, 0.65);
  background-color: rgba(200,240,255,0.50);
}

pre.grade-msg {
  border: 1px solid rgba(0, 40, 80, 0.65);
  background-color: rgba(235,235,255,0.4);
  color: #002040;
}

pre.grade-warn {
  border: 1px solid rgba(128, 0, 0, 0.65);
  color: #800000;
}

pre.grade-err {
  border: 2px solid rgba(96, 0, 0, 1);
  background-color: rgba(255,255,0,0.7);
  color: #800000;
}

.problem pre.grade-src {
  border: 2px solid rgba(40, 0, 0, 1.0);
  background-color: rgba(255,245,240,0.50);
}


.problem pre.grade-out {
  border: 1px solid rgba(0, 00, 0, 0.65);
  background-color: rgba(255,200,220,0.50);
}

